/* Global on page - Début */
* {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

html {
  min-width: 70%;
  max-width: 1440px;
  margin: auto;
}

body {
  margin: -15px 0px 0px 0px;
}

main {
  padding: 0px 15px 0px 15px;
}

a,
button,
label {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  padding: 0;
}

li {
  list-style-type: none;
}

/* Global on page - Fin */
/*Header - Début*/
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 45px;
}

.header_img {
  object-fit: cover;
  height: 1.18rem;
  width: 3.81rem;
  padding: 40px;
  padding-top: 50px;
  padding-left: 20px;
}

.header_nav {
  padding-top: 15px;
}

.header_list {
  display: flex;
}

.header_list .header_link1 {
  margin-right: 65px;
}

.header_nav_link1,
.header_nav_link2 {
  padding-top: 15px;
  font-weight: 400;
  border-top: 2px solid transparent;
  transition: border-top-color 0.3s ease;
}

.header_nav_link1:hover,
.header_nav_link2:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

/*Header - Fin*/
/*Section recherche - Début*/
.recherche {
  padding: 0px 5px;
}

.recherche_header {
  display: flex;
  flex-direction: column;
}

.recherche_header_title {
  font-size: 22px;
  font-weight: 700;
  margin: 0px;
}

.recherche_header_subtitle {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

/*Formulaire - Début*/
.recherche_form {
  display: flex;
  margin-top: 30px;
}

.recherche_form_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.0625rem;
  height: 3.0625rem;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
}

.fa-location-dot {
  /*Taille de l'icône*/
  font-size: 18.5px;
}

.search_form_searchinput {
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid #f2f2f2;
  /*Supprime la bordure de droite*/
  border-right: none;
  max-width: 20%;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.search_form_searchinput:focus {
  border: 2px solid #f2f2f2;
  outline: none;
}

.search_form_submitinput {
  width: 8.4rem;
  color: white;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
}

.search_form_submitinput:hover {
  transition: 0.4s ease;
  color: #0065fc;
  background-color: #deebff;
}

.search_form_submitinput span {
  margin: 0;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

/*Formulaire - Fin*/
/*Filtre - Début*/
.recherche_filters {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.recherche_filters_title {
  margin-left: 8px;
  font-weight: 700;
  font-size: 18px;
}

.search_filters_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  background-color: white;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  margin: 20px 15px 15px 15px;
  padding-left: 5px;
  white-space: nowrap;
}

.search_button_container {
  display: flex;
}

.search_filters_filter:hover {
  transform: scale(1.1);
  background-color: #deebff;
}

.search_filters_filter_icon {
  color: #0065fc;
  font-size: 18px;
  background-color: transparent;
}

i.fa-solid.search_filters_filter_icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_filters_filter_title {
  font-size: 17px;
  font-weight: 700;
  margin: 15px 15px 16px 10px;
  background-color: transparent;
}

/*Filtre - Fin*/
/* Search result - Début*/
.search_result {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.search_result_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
}

.search_result_icon_info {
  color: #0065fc;
  font-size: 10.55px;
}

.search_form_submitinput .fa-magnifying-glass {
  display: none;
  /*Masque la loupe*/
}

.search_result_text {
  margin-top: 15px;
  padding-left: 10px;
}

/* Search result - Fin*/
/*Section recherche - Fin*/
/*Hébergement (container) - Début*/
.hebergement {
  display: flex;
  margin-top: 8px;
}

.hebergement_background {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
}

.hosting_title {
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 22px;
}

.hosting_popular_header_icon {
  margin: 30px 30px 15px 30px;
  font-size: 20px;
}

.popular_icon {
  padding-top: 10px;
  color: #0065fc;
}

.hosting_card {
  padding: 5px;
  margin: 15px 5px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 16px #0000002e;
  box-sizing: border-box;
}

.hosting_card:hover {
  transform: scale(1.05);
}

.hosting_card_fig {
  margin: 0px;
}

.hosting_card_fig_img {
  object-fit: cover;
}

.hosting_card_fig_caption {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  padding: 5px;
}

.hosting_card_fig_caption_title {
  font-size: 16px;
}

.hosting_card_from {
  font-size: 14px;
}

.hosting_card_stars {
  margin-top: auto;
  padding-left: 5px;
}

.hosting_card_stars1 {
  margin-top: -5px;
  padding-left: 10px;
}

.hosting_card_star_on {
  font-size: 12px;
  color: #0065fc;
}

.hosting_card_star_off {
  font-size: 12px;
  color: #dcdcdc;
}

.hosting_card_fig_caption_title,
.hosting_card_from {
  margin: 0px;
  padding-left: 5px;
}

/* Hébergement - Début*/
.hebergement_main {
  margin: 20px 15px 20px 0px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 2;
}

.hebergement_main_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.hebergement_main_card {
  width: 30%;
  height: auto;
}

.hosting_main_card_fig_img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 135px;
}

.hosting_main_card_footer {
  margin-left: 15px;
  font-weight: 700;
}

.hosting_main_card_footer_link:hover {
  color: #0065fc;
  text-decoration: underline;
}

.hosting_main_card_footer_link {
  font-size: 18px;
}

/* Hébergement - Fin*/
/*Populaire - Fin*/
.hebergement_popular {
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px 0px 20px 15px;
  padding-bottom: 10px;
  flex: 1;
}

.hosting_popular_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.hosting_popular_header_icon {
  font-size: 20px;
}

.hosting_popular_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hosting_popular_card {
  width: 92%;
  height: auto;
}

.hosting_popular_card_fig {
  display: flex;
}

.hosting_popular_card_fig_img {
  border-radius: 20px 0px 0px 20px;
  width: 40%;
  min-width: 40%;
  height: 145px;
}

/*Populaire - Fin*/
/*Hébergement (container) - Fin*/
/*Activités - Début*/
.activity {
  margin-top: 60px;
}

.activites img {
  height: 380px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.card_activity {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 15px;
}

.card_activity:hover {
  transform: scale(1.1);
}

.activites .card_activity {
  width: 21.6%;
  height: 27.43rem;
}

.activites h3 {
  margin: 15px 0;
  padding-left: 10px;
}

.titre-activites h2 {
  font-size: 22px;
  padding-left: 20px;
}

/*Activités - Fin*/
/*Footer - Début*/
.footer {
  background-color: #f2f2f2;
}

.footer_containers {
  margin-top: 45px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.footer_container {
  white-space: nowrap;
  margin-right: 70px;
  padding: 20px 0px 5px 0px;
}

.footer_container_title {
  margin: 0px;
  padding-left: 40px;
  font-size: 18px;
}

.footer_container_title h4 {
  font-size: 18px;
  font-weight: 400;
}

.footer_container_list {
  line-height: 30px;
}

.footer_container_list a:hover {
  text-decoration: underline;
}

/*Footer - Fin*/
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media only screen and (max-width: 1024px) {
  /*Hébergement (container) - Début*/
  .hebergement {
    display: flex;
    flex-direction: column;
  }

  .hosting_popular_cards {
    display: flex;
    flex-direction: row;
  }

  .hebergement_main_card {
    width: 28.5%;
  }

  .hosting_popular_header {
    margin-bottom: -12px;
  }

  .hebergement_popular {
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px 15px 0 0;
  }

  /*Hébergement (container) - Fin*/
  /*Filtre - Début*/
  .recherche_filters {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 50% 50%;
  }

  .search_filters_filter {
    margin: 0 15px 0 0;
  }

  /*Filtre - Fin*/
  /*Activités - Début*/
  .activites img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .activites .card_activity {
    width: 20.5%;
    height: 16.87rem;
  }

  /*Activités - Fin*/
  /*Footer - Début*/
  .footer {
    margin-top: 55px;
  }

  /*Footer - Fin*/
}

/* Small devices (phones, less than 768px) */
@media only screen and (max-width: 1023.99px) and (max-width: 767.98px) {
  main {
    padding: 0;
  }

  /*Header - Mobile - Début*/
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    margin-bottom: 15px;
  }

  .header_img_container {
    margin: 0 auto;
  }

  .header_img {
    width: 3.81rem;
    height: 1.18rem;
    padding-top: 50px;
    padding-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;
  }

  .header_list .header_link1 {
    margin-right: 0px;
  }

  .header_list {
    padding: 0;
    width: 100%;
  }

  .header_link1,
  .header_link2 {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  .header_nav {
    padding-top: 5px;
    width: 100%;
  }

  .header_nav_link1,
  .header_nav_link2 {
    width: 100%;
    padding-bottom: 15px;
    border-top: 0;
  }

  .header_nav_link1:hover,
  .header_nav_link2:hover {
    color: #0065fc;
    border-top: 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #0065fc;
  }

  /*Header - Mobile - Fin*/
  /*Section search - Mobile - Début*/
  .recherche_header {
    margin: 0 20px;
  }

  .recherche_header_title {
    margin: 0 5px;
  }

  .recherche_subtitle_container p {
    margin: 0;
    box-sizing: border-box;
    padding-top: 8px;
    margin-left: -18px;
  }

  .recherche_form {
    flex-direction: row;
    justify-content: center;
  }

  .search_form_searchinput {
    max-width: 50%;
    padding-right: 10px;
    border-right: none;
  }

  .search_form_submitinput {
    max-height: 3.06rem;
    max-width: 3.06rem;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: relative;
    right: 12px;
  }

  .search_form_submitinput .search_form_submitinput_text {
    display: none;
    /*Masque le texte*/
  }

  .search_form_submitinput .fa-magnifying-glass {
    display: inline-block;
    /*Affiche l'icône à la place du bouton*/
    font-size: 15px;
    /*Ajustez la taille de l'icône*/
  }

  /*Filtre - Mobile - Début*/
  .recherche_filters {
    display: grid;
    grid-template-rows: 25% 75%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
  }

  .search_button_container {
    margin-top: -5px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5px;
    width: 100%;
  }

  .search_filters_title_container p {
    margin: 0;
    padding: 20px 0 15px 0;
  }

  .search_filters_filter_title {
    margin-left: 12px;
    font-size: 14px;
  }

  .search_filters_filter_icon {
    font-size: 19px;
  }

  .search_filters_filter {
    margin: 20px 10px 15px 0px;
    justify-content: flex-start;
    height: auto;
    margin: 7px;
  }

  /*Filtre - Mobile - Fin*/
  /*Barre de résultat/Info - Mobile*/
  .search_result {
    margin-top: 40px;
  }

  .search_result_icon {
    margin-bottom: 45px;
    margin-left: 12px;
  }

  .search_result_icon_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
  }

  .search_result_text {
    margin-top: 5px;
    margin-bottom: 50px;
  }

  /*Section search - Mobile - Fin*/
  /*Hébergement (container) - Mobile - Début*/
  .hebergement {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .hosting_card {
    margin: 8px 5px;
  }

  /*"Les plus populaires" - Mobile - Début*/
  .hosting_title {
    padding-left: 10px;
  }

  .hosting_popular_header {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .hosting_popular_cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .hebergement_popular,
  .hebergement_background {
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  /*"Les plus populaires" - Mobile - Fin*/
  /*Hébergement - Mobile - Début*/
  .hebergement_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0;
    border: 0px;
  }

  .hebergement_main_header {
    margin-top: 40px;
    margin-left: 35px;
    width: 100%;
  }

  .hebergement_main_header h2 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  .hebergement_main_cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .hebergement_main_card {
    width: 89.33%;
  }

  /*Hébergement - Mobile - Fin*/
  /*Afficher Plus - Mobile - Début*/
  .hosting_main_card_footer {
    width: 100%;
    white-space: nowrap;
    padding: 0;
    font-weight: 700;
  }

  .hosting_main_card_footer p {
    font-size: 18px;
    margin: 20px;
  }

  /*Afficher Plus - Mobile - Fin*/
  /*Hébergement (container) - Mobile - Fin*/
  /*Activités - Mobile - Début*/
  .activity-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 20px;
    margin-bottom: 25px;
  }

  .titre-activites h2 {
    margin-left: 3px;
    margin-bottom: 15px;
    font-size: 22px;
  }

  .card_activity {
    margin-top: 20px;
  }

  .activites .card_activity {
    display: flex;
    flex-direction: column;
    width: 98%;
  }

  /*Activités - Mobile - Fin*/
  /*Footer - Mobile - Début*/
  .footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 5rem;
  }

  .footer_containers {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }
  /*Footer - Mobile - Fin*/
}
